NARRATOPRO_ENV=development
NARRATOPRO_LOG_LEVEL=INFO
NARRATOPRO_DATABASE_URL=postgresql+psycopg://narratopro:narratopro@127.0.0.1:5432/narratopro
NARRATOPRO_TEMPORAL_TARGET=127.0.0.1:7233
NARRATOPRO_TEMPORAL_NAMESPACE=default
NARRATOPRO_OBJECT_STORE_ROOT=./data/local/object_store
NARRATOPRO_ARTIFACT_ROOT=./artifacts
NARRATOPRO_TEMP_ROOT=./tmp
NARRATOPRO_MAX_LOCAL_COST_CENTS=0
NARRATOPRO_SECRET_API_KEY=
